@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: "Mulish", sans-serif;
}

body {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    background: #ecf1f5;
    transform: scale(0.8) translateY(-50px);
}

.cardTop {
    width: 497px;
    height: 284px;
    background: #FAC24F;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
}

.timeline {
    width: 355px;
    height: 696px;
    background: #ECF1F524;
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    overflow: hidden;
    position: absolute;
    top: 144px;
    margin-left: 71px;
    box-shadow: 0px 20px 53px -30px rgba(95, 102, 173, 0.566816);
    border-radius: 10px;
}

.timeline h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 66px;
    margin-top: 40px;
}

.timeline label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* Identical to box height */
    margin-left: 66px;
    margin-top: 10px;
    color: #FFFFFF;
}

.timeline .box {
    width: 100%;
    height: 509px;
    background: #fbfcfd;
    margin-top: 99.5px;
}

.timeline .box .container {
    width: 100%;
    height: 357px;
    display: flex;
}

.timeline .box .container .lines {
    margin-left: 40px;
    margin-top: 6px;
}

.timeline .box .container .lines .dot {
    width: 14px;
    height: 14px;
    background: #D1D6E6;
    border-radius: 7px;
}

.timeline .box .container .lines .line {
    height: 103px;
    width: 2px;
    background: #D1D6E6;
    margin-left: 5.3px;
}

.timeline .box .container .cards {
    margin-left: 12px;
    transform: translateY(-50px);
}

.timeline .box .container .cards .card {
    width: 249px;
    height: 93px;
    padding-top: 25px;
    background: #FFFFFF;
    box-shadow: 0 2px 2px 0 #eeeeee40;
    border-radius: 10px;
    box-shadow: 0px 16px 15px -10px rgba(105, 96, 215, 0.0944602);
    margin-bottom: 10px;
}

.timeline .box .container .cards .card.mid {
    height: 71px;
}

.timeline .box .container .cards .card h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin-left: 25px;
    margin-bottom: 5px;
    color: #2B2862;
}

.timeline .box .container .cards .card p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2B2862;
    margin-left: 25px;
}

.timeline .box .bottom {
    width: 100%;
    height: 107px;
    background: #fff;
    box-shadow: 0 0 2px #eeeeee50;
    padding-top: 45px;
}

.timeline .box .bottom .btn {
    width: 249px;
    height: 62px;
    background: #FFFFFF40;
    mix-blend-mode: normal;
    cursor: pointer;
    border: 1px solid #8260D780;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #2B2862;
    margin-left: 53px;
    transition: 0.3s;
    background: #2B2862;
    color: #fff;
    border-color: #2B2826;
}

.timeline .box .bottom .btn:hover {
    transform: scale(1.03);
}